
.body{
    background-color: white;
    height: 100vh;
}

.newscard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
}

.newscard-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.newscard-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.newscard-description {
    font-size: 1rem;
}

.newsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Space between items */
    height: 30%;

    padding: 1rem;
}


@media (max-width: 767px) {
    .newscard {
        width: 100%; 
    }

    .newscard-description {
        display: none; /* Hide description on mobile */
    }
    .newsgrid {
        grid-template-columns: 2fr; /* Single column layout on mobile */
    }
}