nav {
    position: sticky;
    top: 0; /* Stick to the top */
    display: flex;
    justify-content: space-around; /* This will give each item about 2em space */
    padding: 1em;
    background-color: rgb(256,256,256); /* Change the color as you prefer */
   /* Replace with your image's path */

}
  
  nav a {
    font-weight: bold; /* Making the text bold */
    text-decoration: none; /* Removing the underline */
    color: #333; /* Change the color as you prefer */
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  