* {
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    
   
  }
  a {
    cursor: url(Cursor3.png),pointer;
  }
body{background-color: white;}
  /* Rest of your CSS... */
  
