.body2 {
 
  background-color: white;

}
    
.body1 {
  display: grid;
  background-color: white;
  
  grid-template-rows: repeat(3, 1fr);
  height: 200vh; /* adjust as needed */
  width: 100%;
}
#scroll-icon {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  